@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2255 S 5370 W<br />
    West Valley City, UT 84120<br />
    <abbr title="Phone">P:</abbr>
    (801) 956-2770
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Barry.McKenzie@UtahTank.com">Barry.McKenzie@UtahTank.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Barry.McKenzie@UtahTank.com">Barry.McKenzie@UtahTank.com</a>
</address>